[submodule "gateway"]
	path = gateway
	url = https://github.com/DiegoGMrn/Arquitectura-Backend-Gateway-Parking
[submodule "ms-users"]
	path = ms-users
	url = https://github.com/Zheol/microservicio-parking-users
[submodule "ms-zonas"]
	path = ms-zonas
	url = https://github.com/DiegoGMrn/Arquitectura-Backend-Zonas-Parking.git
[submodule "ms-reservas"]
	path = ms-reservas
	url = https://github.com/DiegoGMrn/Arquitectura-Backend-Reservas-Parking
[submodule "frontend"]
	path = frontend
	url = https://github.com/JuanNilo/Arquitectura-Frontend-Parking
[submodule "ms-notifications"]
	path = ms-notifications
	url = https://github.com/CristopherA27/Notifications-Parking
