[submodule "gateway"]
	path = gateway
	url = https://github.com/DiegoGMrn/Arquitectura-Backend-Gateway-Parking
[submodule "ms-users"]
	path = ms-users
	url = https://github.com/Zheol/microservicio-parking-users
[submodule "ms-zonas"]
	path = ms-zonas
	url = https://github.com/DiegoGMrn/Arquitectura-Backend-Zonas-Parking
